{% extends "base.html" %}
{% load static %}




{% block content %}
<div>
  <h2 class="separar"> <ti class="titulo-produto">Produtos</ti>  
</div>
<div class="container-pesquisa">
  <div class="row">
    <div class="col-md-6">
      <form action="." method="GET" class="form-inline">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Pesquisar" id="search" name="search" aria-label="Search" style="border-right: none;">
          <div class="input-group-append">
            <button type="submit" class="input-group-text" style="background-color: #FFF"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 text-right">
      <a href="{% url 'produto:produto_add' %}">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus"></span> Adicionar
        </button>
      </a>
    </div>
  </div>
</div>


  
  {% if objects_list %}

    <table class="table borda-cor-preta"style="margin-top:20px">
      <thead>
        <tr>
          <th>NCM</th>
          <th>Produto</th>
          <th>Preço</th>
          <th class="text-center">Estoque</th>
          <th class="text-center">Estoque mínimo</th>
          <th>Editar</th>
          <th>Deletar</th>

        </tr>
      </thead>
      <tbody>
        {% for object in objects_list %}
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{ object.produto}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ object.produto}}" aria-hidden="true" style="border: #000b21;">

            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Voce tem certeza?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Voce realmente deseja deletar o produto <b>{{ object.produto}}</b>.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                  <form method="POST" action="{% url 'produto:excluir_produto' object.pk %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-danger" value="Excluir Produto">Deletar</button>
                  </form>

                </div>
              </div>
          </div>
          <tr class='hover'>
            <td>{{ object.ncm }}</td>
            <td><a href="{{object.get_absolute_url}}">{{ object.produto }}</a></td>
            <td>R$ <span class="">{{ object.preco }}</span></td>
            <td class="text-center">{{ object.estoque }}</td>
            <td class="text-center">{{ object.estoque_minimo }}</td>
            <td><a href="{% url 'produto:produto_edit' object.pk %}"><i style="color: #11A9FF;" class="fas fa-edit"></i></a></td>
            <td><a href="" class="btn" data-toggle="modal" data-target="#exampleModal{{ object.produto}}"><i style="color:red" class="fas fa-trash-alt"></i> </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="alert alert-light" role="alert">Sem itens na lista.</p>
    {% endif %}

</div>
{% endblock content %}