{% extends "base.html" %}


{% load static %}
{% block content %}

    
<body id="page-top">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="sub-titulo text-xs font-weight-bold   text-uppercase text-center mb-1">Produtos em destaque</div>
                            <div class="card bordinha border-dark custom-shadow h-700 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center "  style="color: #00ff6e;">
                                        <div class="col mr-2" >       

                                            <div class="h5 text-center mb-0 font-weight-bold">Coca</div>
                                        </div>
                                        <div class="col-auto">
                                            <i style="color: #00ff6e;" class="fas fa-medal fa-2x "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="sub-titulo text-xs font-weight-bold text-uppercase text-center mb-1">Faturamento Do Mes</div>
                            <div class="card bordinha border-dark custom-shadow h-700 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" style="color: #00ff6e;">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-center">$80,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-money fa-2x" style="color: #00ff6e;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="sub-titulo text-xs font-weight-bold   text-uppercase text-center mb-1">Despesas Do Mes</div>
                            <div class="card bordinha border-dark custom-shadow h-700 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center "style="color: #830000;" >
                                        <div class="col mr-2">       

                                            <div class="h5 mb-0 font-weight-bold text-center ">$40.000</div>
                                        </div>
                                        <div class="col-auto "  >
                                            <i class="fas fa-dollar  fa-2x "></i>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="sub-titulo text-xs font-weight-bold   text-uppercase text-center mb-1">Produto acabando</div>
                            <div class="card bordinha border-dark custom-shadow h-700 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center " style="color: #830000;">
                                        <div class="col mr-2" >       

                                            <div class="h5 text-center mb-0 font-weight-bold">Agua</div>
                                        </div>
                                        <div class="col-auto">
                                            
                                            <i class="fas fa-bell fa-2x "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
                <div class="container">
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-6 col-md-12">
                <div class="card shadow">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                        <div class="mudaDeCorBranco sub-titulo text-xs text-uppercase text-center mb-1">Faturamento Anual</div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="card shadow">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                        <div class="mudaDeCorBranco sub-titulo text-xs text-uppercase text-center mb-1">Produtos em destaque</div>
                    </div>

                    <div id="donut-chart"></div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</body>
{% endblock content %}
{% block js %}
    <script>
        var chart = bb.generate({
            data: {
            columns: [
                ["{{produto1}}", 11],
                ["{{produto2}}", 2],
                ["{{produto3}}", 3],
            ],
            type: "donut",
            onclick: function (d, i) {
                console.log("onclick", d, i);
            },
            onover: function (d, i) {
                console.log("onover", d, i);
            },
            onout: function (d, i) {
                console.log("onout", d, i);
            },
            },

            bindto: "#donut-chart",
        });
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "Junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro",
            ],
            datasets: [
                {   
                    label: "2023",
                    data: [1000, 1500, 1200, 2000, 2500, 1800, 2200, 3000, 2800, 3500, 4000, 3800],
                    borderColor: "rgba(153, 205, 51, 1)", // Cor da linha
                    borderWidth: 3, // Largura da linha
                    fill: false, // Não preencher a área abaixo da linha
                },
            ],
        },
        options: {
            plugins: {
                legend: {
                    display: false, // Remover a legenda do gráfico de linha
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
{% endblock js %}
