.titulo-produto {
    margin-top: 20px;

    flex-shrink: 0;
    color: #11A9FF;
    font-family: Righteous;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navbar {
    margin-bottom: 20px;
    background-color: #000B21;
    
}

.hover:hover {
    background-color: #11a8ff3b;
}

body {
    background-color: #f0fdfd;
}



.ok {
  color: green;
}

.no {
  color: red;
}

span.required:after {
  content: "*";
  color: red;
}

.bordinha {
  border-radius: 20px;
}
.sub-titulo {

  flex-shrink: 0;
  color: #11A9FF;
  font-family: Righteous;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mudaDeCorBranco {
  color: #fff;
}